html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 100px;
}

body {
    min-width: 768px;
    color: #000;
    background: #f9f9f9;
    padding: 0;
}

p {
    margin: 0;
}

/* 头部注册登录条 */
.header-wrapper-bg {
    background: linear-gradient(90deg, rgb(51, 161, 235), rgb(117, 195, 231));
    height: 0.4rem;
    overflow: hidden;
}

.header-wrapper {
    width: 1200px;
    height: 0.4rem;
    margin: 0 auto;
    font-size: 0.16rem;
    line-height: 0.4rem;
}

.header-wrapper>p {
    float: left;
}

.login {
    float: right;
}

.login>a {
    color: #000;
    margin-left: 0.2rem;
}

/* 头部导航条 */

.navbar-style {
    width: 1200px;
    height: 1.1rem;
    margin: 0 auto;
    border: none;

}

.navbar-brand {

    padding-left: 0;
    margin-right: 0.24rem;
}

.navbar-brand img {
    height: 0.8rem;
}

.collapse {
    display: inline-block !important;
}



.active {
    color: #2b9eda !important;
}

.nav-list {
    margin: 0 0.2rem;
}

.nav-list:first-child {
    margin-left: 0;
}

.nav>li>a {
    text-decoration: none;
    color: #000;
    font-size: 0.2rem;
    padding: 0;
    line-height: 1.1rem;
    z-index: 999;

}

.nav>li>a:focus,
.nav>li>a:hover {
    color: #0074b1;
    background: none !important;
}



/* banner */

.carousel-indicators li,
.carousel-indicators .active {
    width: 0.3rem;
    height: 0.3rem;
    border: 0.02rem solid #fff;
    border-radius: 50%;
    margin: 0 0.4rem;
}

.carousel-indicators .active {
    border: 0.02rem solid rgb(252, 193, 0);
    background-color: rgb(252, 193, 0);
}



/* introduce */
.introduce-wrapper {
    margin: 0.6rem auto 0 auto;
    padding: 0.5rem 0;
    background-image: url(../picture/bg-aboutus.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: #042c9b;
}

.introduce-top {
    margin: 0 auto;
    padding: 0 1rem 0.4rem 1rem;
    width: 1200px;
    text-align: center;
}

.introduce-top>p {
    font-size: 0.2rem;
}

.introduce-bottom {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.introduce-bottom>div {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}

.introduce-bottom>div:hover {
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
}

/* advantage */

.img1 {
    background-image: url("../picture/normal/now.png")
}

.img1:hover {
    background-image: url("../picture/hover/now.png")
}

.img2 {
    background-image: url("../picture/normal/fast.png")
}

.img2:hover {
    background-image: url("../picture/hover/fast.png")
}

.img3 {
    background-image: url("../picture/normal/fba.png")
}

.img3:hover {
    background-image: url("../picture/hover/fba.png")
}

.img4 {
    background-image: url("../picture/normal/send.png")
}

.img4:hover {
    background-image: url("../picture/hover/send.png")
}

.img5 {
    background-image: url("../picture/normal/other.png")
}

.img5:hover {
    background-image: url("../picture/hover/other.png")
}

.advantage-caption {
    margin: 0.6rem auto;
    padding-top: 0.19rem;
}

.advantage-caption>img {
    margin: auto;
}

.advantage-bottom {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 0.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.ab-list {
    text-align: center;
    width: 2rem;
    margin: 0 0.5rem 0.2rem 0.5rem;
}

.ab-title {
    font-size: 0.22rem;
    line-height: 0.22rem;
    margin: 0.3rem auto 0.2rem auto;
}

.ab-list:hover>.ab-title {
    color: #2b9eda;
}

.ab-list>div {
    width: 1.0rem;
    height: 1.0rem;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-1 {
    background-image: url("../picture/advantage/transport.png")
}

.ab-list:hover>.img-1 {
    background-image: url("../picture/advantage/transport2.png")
}

.img-2 {
    background-image: url("../picture/advantage/safe.png")
}

.ab-list:hover>.img-2 {
    background-image: url("../picture/advantage/safe2.png")
}

.img-3 {
    background-image: url("../picture/advantage/24.png")
}

.ab-list:hover>.img-3 {
    background-image: url("../picture/advantage/242.png")
}

.img-4 {
    background-image: url("../picture/advantage/online.png")
}

.ab-list:hover>.img-4 {
    background-image: url("../picture/advantage/online2.png")
}

.ab-detail {
    font-size: 0.18rem;
    color: #999;
    line-height: 0.26rem;
}

/* news */
.news-wrapper {
    background-color: #2b9eda;
    padding: 0.35rem 0;
}

.news {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-box {
    width: 2.8rem;
    background-color: #fff;
    padding: 0.1rem 0.15rem;
    margin: 0.2rem auto;
}

.news-title {
    position: relative;
    width: 2.5rem;
    margin: 0.2rem 0rem;
}

.news-title p {
    display: inline-block;
    font-size: 0.2rem;
}

.news-title a {
    position: absolute;
    right: 0;
    display: inline-block;
    font-size: 0.16rem;
    color: #999;
}

.news-content {
    width: 2.5rem;
}

.news-content img {
    width: 2.5rem;
    height: 1.9rem;
}

.news-list {
    margin: 0.1rem 0;
}

.news-list a {
    display: block;
    height: 0.34rem;
}

.news-list>a>p {
    display: inline-block;
    font-size: 0.14rem;
    color: #666;
    line-height: 0.34rem;
}

.new {
    width: 1.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.new-date {
    float: right;
}

/* partner */
.partner-caption {
    margin: 0.6rem auto 0.45rem auto;
    text-align: center;
}

.partner-caption>p:first-child {
    font-size: 0.32rem;
    color: #2b9eda;
    margin: 0;
}

.partner-caption>p:last-child {
    font-size: 0.28rem;
    color: #2b9eda;
    margin: 0;
}

.partner-list {
    width: 1200px;
    margin: 0 auto 0.6rem auto;
}

.partner-list>div>img {
    display: block;
    width: 1.8rem;
    height: 0.62rem;
    background-color: #999;
    margin: 0 auto 0.2rem auto;
}

/* footer */
.footer-wrapper {
    background-color: #003e5c;
    color: #fff;
}

.footer-top {
    width: 1200px;
    margin: 0 auto;
    padding-top: 0.6rem;
    padding-bottom: 1.2rem;
    font-size: 0.2rem;
}

.footer-top-menu {
    padding-right: 0.49rem;
    padding-left: 0rem;
}

.footer-top-menu>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footer-top-menu>ul>li>a {
    color: #fff;
}

.footer-top-contact {
    text-align: center;
    background: linear-gradient(90deg, #002336 1px, #0074b1 2px, transparent 1px)
}

.footer-top-contact img {
    margin-bottom: 0.2rem;
}

.tele {
    width: 3.0rem;
    height: 0.6rem;
    background-color: red;
    border-radius: 0.1rem;
    text-align: center;
    font-size: 0.28rem;
    line-height: 0.6rem;
    margin: 0.18rem auto 0.1rem auto;
}

.footer-bottom {
    padding-top: 0.2rem;
    padding-bottom: 0.12rem;
    border-top: 0.1rem solid #004a70;
    text-align: center;
    font-size: 0.14rem;
    line-height: 0.18rem;
}

/* 日本运输页面transport.html */
.transport-wrapper {
    background-color: #fff;
}

.transport {
    width: 1200px;
    margin: 0 auto;
}

.transport>p {
    text-align: center;
    font-size: 0.36rem;
    color: #2b9eda;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.transport>img {
    padding-bottom: 0.9rem;
}


@media (max-width:1200px) {
    html {
        font-size: 85px;
    }

    .header-wrapper,
    .navbar-style,
    .introduce-wrapper,
    .introduce-top,
    .introduce-bottom,
    .advantage-caption,
    .advantage-bottom,
    .news,
    .partner-list,
    .footer-top,
    .transport {
        width: 800px;
    }


    .navbar-brand {
        display: none;
    }

    .ab-list {
        margin: 0 auto 0.2rem auto;
    }

    .ab-list>div {
        width: 0.8rem;
        height: 0.8rem;
    }

    .news {
        justify-content: space-around;
    }

    .news-box {
        width: 2.3rem;
    }

    .news-title {
        width: 2rem;
        margin: 0.1rem 0;
    }

    .news-content {
        width: 2rem;
    }

    .news-content img {
        width: 2rem;
        height: 1.4rem;
    }

    .news-list {
        display: none;
    }

    .footer-top-menu {
        padding: 0.5rem;
        margin-bottom: 0.4rem;
    }

    .footer-top-contact {
        background: none;
    }
}




@media (max-width:980px) {
    html {
        font-size: 60px;
    }

    .header-wrapper,
    .navbar-style,
    .introduce-wrapper,
    .introduce-top,
    .introduce-bottom,
    .advantage-caption,
    .advantage-bottom,
    .news,
    .partner-list,
    .footer-top,
    .transport {
        width: 760px;
    }
    .nav li{
        display: inline-block !important;
    }
    /* .navbar-brand {
        display: none;
    } 

    .news {
        justify-content: space-around;
    }

    .footer-top-menu {
        padding: 0.5rem;
        margin-bottom: 0.4rem;
    }

    .footer-top-contact {
        background: none;
    }
*/
    /* .carousel-indicators li,
    .carousel-indicators .active {
        width: 0.3rem;
        height: 0.3rem;
        border: 0.02rem solid #fff;
        border-radius: 50%;
        margin: 0 0.4rem;
    }

    .carousel-indicators .active {
        border: 0.02rem solid rgb(252, 193, 0);
        background-color: rgb(252, 193, 0);
    } */
}